body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f7ff; 
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
    color: #004d66; 
}

.app-logo { /* NUEVOS ESTILOS PARA EL LOGO */
    max-width: 80px; /* Ajusta el tamaño según tu logo */
    height: auto;
    margin-bottom: 10px; /* Espacio debajo del logo */
    vertical-align: middle; /* Alinea verticalmente */
}

h1 {
    color: #007bff; 
    display: inline-block; /* Permite que h1 esté al lado del logo si lo deseas, aunque text-align: center lo centrará */
    margin: 0; /* Elimina márgenes predeterminados */
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    color: #004d66;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    background-color: white;
    border-radius: 8px;
    overflow: hidden; 
}

th, td {
    border: 1px solid #cceeff; 
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0056b3; 
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f0f8ff; 
}

tr:hover {
    background-color: #b3e0ff;
}

.form-container {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    border-left: 5px solid #ff4500; 
    display: flex; 
    flex-wrap: wrap;
    gap: 15px; 
    align-items: flex-end; 
}

.form-container label {
    font-weight: bold;
    color: #004d66;
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.form-container input[type="number"], 
.form-container input[type="date"], 
.form-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1; 
    min-width: 150px; 
}

#config-tarifas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    align-items: center;
}

#config-tarifas label, #config-tarifas input {
    width: 100%;
}

#config-tarifas button {
    grid-column: 1 / -1; 
}


.form-container button {
    background-color: #28a745; 
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    transition: background-color 0.3s;
    flex-grow: 1;
}

.form-container button:hover {
    background-color: #1e7e34; 
}

.resultado-calculo {
    padding: 20px;
    background-color: #fffacd; 
    border: 1px solid #ffc107;
    color: #856404; 
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: bold;
}