body {
    font-family: 'Arial', sans-serif;
    /* Fondo azul claro */
    background-color: #e6f7ff; 
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
    /* Color de texto del encabezado */
    color: #004d66; 
}

h1 {
    /* Color de título principal */
    color: #007bff; 
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    color: #004d66;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    background-color: white;
    border-radius: 8px;
    overflow: hidden; 
}

th, td {
    border: 1px solid #cceeff; 
    padding: 12px;
    text-align: left;
}

th {
    /* Fondo de encabezado de tabla: azul oscuro */
    background-color: #0056b3; 
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    /* Fondo de filas pares: gris claro */
    background-color: #f0f8ff; 
}

tr:hover {
    /* Resaltar filas al pasar el ratón */
    background-color: #b3e0ff;
}

/* Estilos para el formulario y resultados */
.form-container {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    border-left: 5px solid #ff4500; /* Borde de color naranja */
    display: flex; /* Flexbox para organizar mejor los campos */
    flex-wrap: wrap;
    gap: 15px; /* Espacio entre elementos */
    align-items: flex-end; /* Alinear ítems al final */
}

.form-container label {
    font-weight: bold;
    color: #004d66;
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

/* Estilos para los inputs dentro del contenedor */
.form-container input[type="number"], .form-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1; /* Permite que crezcan para llenar el espacio */
    min-width: 150px; /* Ancho mínimo para cada campo */
}

/* Estilo específico para el contenedor de tarifas */
#config-tarifas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    align-items: center;
}

#config-tarifas label, #config-tarifas input {
    width: 100%;
}

#config-tarifas button {
    grid-column: 1 / -1; /* Botón ocupa todo el ancho */
}


.form-container button {
    background-color: #28a745; /* Botón verde vibrante */
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    transition: background-color 0.3s;
    flex-grow: 1;
}

.form-container button:hover {
    background-color: #1e7e34; /* Oscurecer al pasar el ratón */
}

.resultado-calculo {
    padding: 20px;
    /* Fondo de resultado: amarillo suave */
    background-color: #fffacd; 
    border: 1px solid #ffc107;
    /* Texto de resultado: marrón oscuro */
    color: #856404; 
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: bold;
}